body {
    font-family: Arial, sans-serif;
    background-color: #f8f8f8;
    color: #333;
    text-align: center;
    margin: 0;
    padding: 0;
}

header {
    background-color: #ffcccb;
    padding: 20px;
    font-size: 24px;
    font-weight: bold;
}

.container {
    max-width: 800px;
    margin: 20px auto;
    padding: 20px;
    background: white;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    border-radius: 10px;
}

img {
    width: 50%;
    border-radius: 10px;
    height: auto;  /* Garde les proportions de l'image */
    max-width: 800px;  /* Optionnel : limite la largeur maximale de l'image à 800px */
    border-radius: 10px; /* Ajoute un bord arrondi à l'image (optionnel) */
}

.footer {
    margin-top: 20px;
    padding: 10px;
    background: #ffcccb;
}
