body {
    font-family: 'Roboto', sans-serif; /* Applique la nouvelle police */
    background-color: #f8f8f8;
    color: #333;
    text-align: center;
    margin: 0;
    padding: 0;
}

header {
    background-color: #143f7fe0;
    padding: 20px;
    font-size: 24px;
    font-weight: bold;
    color: white; /* Ajouté pour la couleur du texte en blanc */
}

.container {
    max-width: 800px;
    margin: 20px auto;
    padding: 20px;
    background: white;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    border-radius: 10px;
}

img {
    width: 50%;
    border-radius: 10px;
    height: auto;  /* Garde les proportions de l'image */
    max-width: 800px;  /* Optionnel : limite la largeur maximale de l'image à 800px */
    border-radius: 10px; /* Ajoute un bord arrondi à l'image (optionnel) */
}

.footer {
    margin-top: 20px;
    padding: 10px;
    background: #143f7fe0;
    color: white; /* Ajouté pour la couleur du texte en blanc */
}

.image-fou {
    width: 80%;   /* Limite la largeur de l'image à 80% de son conteneur */
    height: auto; /* Garde les proportions de l'image */
    max-width: 500px; /* Limite la largeur maximale de l'image à 500px */
    margin-top: 20px; /* Un peu d'espace au-dessus */
    border-radius: 10px; /* Ajoute des coins arrondis à l'image */
}

ul {
    list-style-position: inside; /* Place les puces à l'intérieur du bloc de la liste */
    padding-left: 0;  /* Supprime le padding par défaut à gauche des listes */
    margin-left: 0;   /* Supprime la marge à gauche des listes */
}

ul li {
    margin: 10px 0;   /* Contrôle l'espacement vertical entre les éléments de la liste */
    line-height: 1.5; /* Ajuste la hauteur de ligne pour rendre le texte plus lisible */
    text-align: left; /* Assure que le texte soit aligné à gauche */
}